@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 161.1 0% 90%;
    --foreground: 161.1 0% 5%;
    --card: 161.1 0% 90%;
    --card-foreground: 161.1 0% 10%;
    --popover: 161.1 0% 95%;
    --popover-foreground: 161.1 95% 0%;
    --primary: 161.1 67.3% 32.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 161.1 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 199.1 10% 85%;
    --muted-foreground: 161.1 0% 35%;
    --accent: 199.1 10% 80%;
    --accent-foreground: 161.1 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 161.1 0% 90%;
    --border: 161.1 20% 50%;
    --input: 161.1 20% 18%;
    --ring: 161.1 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 161, 0%, 86%;
    --sidebar-foreground: 161, 0%, 5%;
    --sidebar-primary: 161, 67%, 29%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 199, 10%, 76%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 161, 20%, 48%;
    --sidebar-ring: 151, 98%, 45%;
  }

  .dark {
    --background: 161.1 10% 5%;
    --foreground: 161.1 0% 90%;
    --card: 161.1 0% 0%;
    --card-foreground: 161.1 0% 90%;
    --popover: 161.1 10% 5%;
    --popover-foreground: 161.1 0% 90%;
    --primary: 161.1 67.3% 32.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 161.1 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 199.1 10% 15%;
    --muted-foreground: 161.1 0% 60%;
    --accent: 199.1 10% 15%;
    --accent-foreground: 161.1 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 161.1 0% 90%;
    --border: 161.1 20% 18%;
    --input: 161.1 20% 18%;
    --ring: 161.1 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 161, 10%, 7%;
    --sidebar-foreground: 161, 0%, 99%;
    --sidebar-primary: 161, 67%, 26%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 199, 10%, 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 161, 20%, 17%;
    --sidebar-ring: 151, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
